@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 80%;
    --foreground: 0 0% 12.16%;
    --card: 0 0% 69.02%;
    --card-foreground: 0 0% 12.16%;
    --popover: 0 0% 69.02%;
    --popover-foreground: 0 0% 12.16%;
    --primary: 0 73.46% 41.37%;
    --primary-foreground: 0 0% 100%;
    --secondary: 82 38.96% 30.2%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 72.16%;
    --muted-foreground: 0 0% 29.02%;
    --accent: 207.27 44% 49.02%;
    --accent-foreground: 0 0% 100%;
    --destructive: 26.12 100% 50%;
    --destructive-foreground: 0 0% 0%;
    --border: 0 0% 31.37%;
    --input: 0 0% 31.37%;
    --ring: 0 73.46% 41.37%;
    --chart-1: 0 73.46% 41.37%;
    --chart-2: 82 38.96% 30.2%;
    --chart-3: 207.27 44% 49.02%;
    --chart-4: 26.12 100% 50%;
    --chart-5: 15.71 17.5% 47.06%;
    --sidebar: 0 0% 69.02%;
    --sidebar-foreground: 0 0% 12.16%;
    --sidebar-primary: 0 73.46% 41.37%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 207.27 44% 49.02%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 31.37%;
    --sidebar-ring: 0 73.46% 41.37%;
    --font-sans: 'Montserrat', sans-serif; /* 'Oxanium', sans-serif; */
    --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-mono: 'Source Code Pro', monospace;
    --radius: 0px;
    --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.2);
    --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.2);
    --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.4),
      0px 1px 2px -1px hsl(0 0% 0% / 0.4);
    --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.4),
      0px 1px 2px -1px hsl(0 0% 0% / 0.4);
    --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.4),
      0px 2px 4px -1px hsl(0 0% 0% / 0.4);
    --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.4),
      0px 4px 6px -1px hsl(0 0% 0% / 0.4);
    --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.4),
      0px 8px 10px -1px hsl(0 0% 0% / 0.4);
    --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 1);
  }

  .dark {
    --background: 0 0% 10.2%;
    --foreground: 0 0% 87.84%;
    --card: 0 0% 16.47%;
    --card-foreground: 0 0% 87.84%;
    --popover: 0 0% 16.47%;
    --popover-foreground: 0 0% 87.84%;
    --primary: 1.36 77.19% 55.29%;
    --primary-foreground: 0 0% 100%;
    --secondary: 92.04 47.91% 42.16%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 14.51%;
    --muted-foreground: 0 0% 62.75%;
    --accent: 206.71 89.02% 67.84%;
    --accent-foreground: 0 0% 0%;
    --destructive: 37.65 100% 50%;
    --destructive-foreground: 0 0% 0%;
    --border: 0 0% 29.02%;
    --input: 0 0% 29.02%;
    --ring: 1.36 77.19% 55.29%;
    --chart-1: 1.36 77.19% 55.29%;
    --chart-2: 92.04 47.91% 42.16%;
    --chart-3: 206.71 89.02% 67.84%;
    --chart-4: 37.65 100% 50%;
    --chart-5: 15.88 15.32% 56.47%;
    --sidebar: 0 0% 7.84%;
    --sidebar-foreground: 0 0% 87.84%;
    --sidebar-primary: 1.36 77.19% 55.29%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 206.71 89.02% 67.84%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 0 0% 29.02%;
    --sidebar-ring: 1.36 77.19% 55.29%;
    --font-sans: 'Montserrat', sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-mono: 'Source Code Pro', monospace;
    --radius: 0px;
    --shadow-2xs: 0px 2px 5px 0px hsl(0 0% 0% / 0.3);
    --shadow-xs: 0px 2px 5px 0px hsl(0 0% 0% / 0.3);
    --shadow-sm: 0px 2px 5px 0px hsl(0 0% 0% / 0.6),
      0px 1px 2px -1px hsl(0 0% 0% / 0.6);
    --shadow: 0px 2px 5px 0px hsl(0 0% 0% / 0.6),
      0px 1px 2px -1px hsl(0 0% 0% / 0.6);
    --shadow-md: 0px 2px 5px 0px hsl(0 0% 0% / 0.6),
      0px 2px 4px -1px hsl(0 0% 0% / 0.6);
    --shadow-lg: 0px 2px 5px 0px hsl(0 0% 0% / 0.6),
      0px 4px 6px -1px hsl(0 0% 0% / 0.6);
    --shadow-xl: 0px 2px 5px 0px hsl(0 0% 0% / 0.6),
      0px 8px 10px -1px hsl(0 0% 0% / 0.6);
    --shadow-2xl: 0px 2px 5px 0px hsl(0 0% 0% / 1.5);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .typography {
    @apply text-primary;
  }
}
